<html>

<head>

    <link rel="stylesheet" href="/css/order.css" type="text/css">
    <link rel="stylesheet" href="/css/formNuevaSolicitud.css" type="text/css">
    
</head>

<br><br>
<div class="breadcrumb flat">
    <a href="#" class="active">Inicio</a>
    <a href="#">Aprobacion Jefe de Departamento</a>
    <a href="#">Aprobacion Dep. Financiero</a>
    <a href="#">Gestion de Compra</a>
    <a href="#">Articulo Recibido</a>
    <a href="#">Visto Bueno el Solicitante</a>   
    <a href="#">Finalizado</a>
</div>


<body>
    
    <form>
        <label for="description">Descripcion</label>
        <input type="text" id="description" name="description" value="Sistema Video Conferencia para Salas de Juntas">

        <label for="article">Articulo</label>
        <input type="text" id="article" name="article" value="Camara Sony 4K">

        <label for="quantity">Cantidad</label>
        <input type="number" id="quantity" name="quantity" value="3">

        <label for="cost">Costo</label>
        <input type="text" id="cost" name="cost" value="₡ 1 200 000">

        <label for="department">Departamento</label>
        <input type="text" id="department" name="department" value="Gerencia">

        <label for="justification">Justificacion y Comentarios</label>
        <textarea id="justification" name="justification" rows="4">Remplazo de Sistema Video Conferencia de Salas de Juntas 1,2 y 3</textarea>
        <br><br>
        <button type="submit">Editar</button>
    </form>

</body>


</html>