<html>
  <head>
    <link rel="stylesheet" href="/css/formNuevaSolicitud.css" type="text/css" />
  </head>

  <body>
    <form>
      <label for="description">Descripcion</label>
      <input
        type="text"
        id="description"
        name="description"
        value="Sistema Video Conferencia para Salas de Juntas"
      />

      <label for="article">Articulo</label>
      <input type="text" id="article" name="article" value="Camara Sony 4K" />

      <label for="quantity">Cantidad</label>
      <input type="number" id="quantity" name="quantity" value="3" />

      <label for="cost">Costo</label>
      <input type="text" id="cost" name="cost" value="₡ 1 200 000" />

      <label for="department">Departamento</label>
      <select id="department" name="department">
        <option value="Gerencia">Gerencia</option>
        <option value="Recursos Humanos">Recursos Humanos</option>
        <option value="Finanzas">Finanzas</option>
        <option value="Contaduria.">Contaduria.</option>
        <option value="Tecnologias de Informacion">
          Tecnologias de Informacion
        </option>
        <!-- Agrega más opciones según sea necesario -->
      </select>

      <label for="justification">Justificacion y Comentarios</label>
      <textarea id="justification" name="justification" rows="6">
Remplazo de Sistema Video Conferencia de Salas de Juntas 1,2 y 3</textarea
      >
      <br /><br />
      <center>
        <button style="width: 100%" type="submit">Crear</button>
      </center>
    </form>
  </body>
</html>
